
body {
  font-family: Serif Roman, sans-serif;
}

.header {
  background-color: white;
  background-image: linear-gradient(to bottom right, #A7C7E7, pink);
  padding: 40px;
  padding-right: 30%;
  height: 50vh;
  text-align: left;
  font-size: 25px;
}

.column {
  font-family: Serif Roman, sans-serif;
  float: left;
  height: 100%;
  padding: 40px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: white;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>
nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.right {
  margin-left: auto;
}

